.pink {
    /* background-color:#ffbfe9; */
    border-bottom: 0.2em solid #ffbfe9
}

.mint {
    background-color:#8fffd8;
    transition: 0.2s;   
}

.grey {
    background-color: lightgrey;
}

.orange{
    background-color: #ffb18f;
}

.purple {
    background-color: #c87fef;
}

.yellow {
    background-color: #ffff66;
}